@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
  
body {
  background-color: #000000;
}

h1 {
  font-family: "SF Distant Galaxy";
  display: flex;
  justify-content: center;
  color: yellow
}

nav {
  display: flex;
  justify-content: space-around;
  color: yellow
}

/* computer */


.chicago {
  color: white
}

.illinois a {
  color: yellow
}

.flexin {
  display: flex;
  justify-content: center
}

.flexin2 {
  display: flex;
  justify-content: center
}

.flexin3 {
  display: flex;
  justify-content: center
}

.grogu {
  display: flex;
  justify-content: center
}

.grogu2 {
  display: flex;
  justify-content: center
}

.grogu3 {
  display: flex;
  justify-content: center
}
